# Copyright (c) 2025 Oleksandr Tishchenko / Marketing America Corp
# Example environment for FrankenPHP worker + Runtime Supercharger
APP_ENV=prod
APP_DEBUG=0

RUNTIME_ENGINE=frankenphp
RUNTIME_TELEMETRY_DIR=var/runtime/telemetry

RUNTIME_FRANKENPHP_MAX_REQUEST=0
RUNTIME_FRANKENPHP_MAX_UPTIME_SEC=1800
RUNTIME_FRANKENPHP_MAX_MEMORY_MB=512
