<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2025 Oleksandr Tishchenko / Marketing America Corp
-->

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory="var/phpunit"
         colors="true"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true">

    <testsuites>
        <testsuite name="Runtime Supercharger">
            <directory suffix="Test.php">Test</directory>
            <directory suffix="-test.php">Test</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>

    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="display_errors" value="1"/>
        <server name="APP_ENV" value="test"/>
        <server name="APP_DEBUG" value="0"/>
    </php>

</phpunit>
